/* ==================== ページの設定 ==================== */
@charset "UTF-8"; /*文字コード*/
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

html {
  /*フォントサイズの倍率を100%に設定*/
  font-size: 100%;
}

body {
  /*文字の色を黒に指定*/
  color: #000000;
  font-family: "Sacramento", cursive;
  max-width: 1000px; /*幅*/
  max-height: 10px; /*幅*/
  text-align: center; /*テキスト中央揃え*/
  margin: 0 auto; /*ページ中央揃え*/
}

li {
  /*リストのマークをなくす*/
  list-style: none;
  float: left;
}

a {
  /*リンクの下線ををなくす*/
  text-decoration: none;
}

/* ============================================= */

/* ==================== header ==================== */
#header {
  display: flex; /*横並び*/
  justify-content: space-between; /*両端揃え*/
  align-items: center; /*高さ中央揃え*/
  /*background-color: #faf600;*/
  color: white;
  height: 80px;
  background-image: url(cyan_blue_watercolour_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-logo {
  font-size: 36px;
  padding: 20px 40px;
}

.header-list a {
  font-size: 20px;
  padding: 10px 10px;
}

/* ============================================= */

/* ==================== main ==================== */
.main {
  padding: 100px 80px;
}
.section-title {
  font-size: 33px;
}
/* ============================================= */
/* ==================== about ==================== */
#about {
  /*background-color: #b1beea;*/
  padding: 40px 20px;
  font-size: 24px;
  background-image: url(sky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutlist {
  display: flex;
  justify-content: center;
  mix-blend-mode: multiply; /*透過*/
}

/* ============================================= */

/* ==================== News ==================== */
#news {
  text-align: center; /*テキスト中央揃え*/
  background-color: #eabebf;
  padding: 40px 20px;
  font-size: 22px;

  background-image: url(colorful-patterned-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*<a href="https://jp.freepik.com/free-photo/colorful-patterned-background_4102541.htm#query=%E8%83%8C%E6%99%AF&position=0&from_view=keyword&track=sph">著作者：rawpixel.com</a>／出典：Freepik*/
}

/* ============================================= */

/* ==================== Contact ==================== */
#contact {
  background-color: #f7db70;
  padding: 40px 20px;
  font-size: 22px;
  background-image: url(22348568.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input,
textarea {
  /*入力フォーム*/
  width: 400px;
  margin-top: 10px; /*余白*/
  margin-bottom: 30px; /*余白*/
  padding: 20px;
  font-size: 16px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  /*送信ボタン*/
  background-color: #dee7ec;
  color: #4c6674;
}

.contactForm {
  display: flex;
  justify-content: center;
}
/* ============================================= */

/* ==================== Footer ==================== */
#footer {
  background-color: #2f5167;
  color: #fff;
  padding: 5px;
  /* background-image: url(firework.jpg);
  background-size: cover;
  background-repeat: no-repeat;  */
}

/* ============================================= */
